// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-list{
  &__player {
    display: flex;
    margin-top: 20px;
  }

  &__player-name {
    margin-bottom: 10px;
    width: 40px;
  }

  &__player-info {
    display: flex;
    justify-content: space-between;
  }

  &__resource-form {
    display: flex;
  }

  &__resource-label {
    width: 70px;
    display: block;
  }

  &__resource {
    margin-top: 5px;
    display: flex;
  }

  &__resource-controls {
    margin-top: 5px;
    margin-left: 30px;
    display: block;
  }

  &__resource-player {
    display: block;
  }

  &__resource-field {
    width: 30px;
  }

  &__give-button {
    margin-top: 5px;
    display: block;
  }  

  &__game-info {
  }

  &__error {
    background-color: red;
    color: white;
  }
}

.trading {
  display: flex;

  &__player {
    margin-right: 30px;
  }

  &__resource-form {
    margin-top: 20px;
  }

  &__resource-field {
    width: 30px;
  }

  &__submit {
    height: 50px;
    align-self: center;
  }
}