// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-list{
  display: flex;

  &__player {
    display: flex;
    margin-top: 20px;
  }

  &__player-name {
    margin-right: 15px;
    width: 40px;
  }

  &__resource-form {
    margin-left: 100px;
    display: flex;
  }

  &__resource-label {
    margin-left: 20px;
    width: 100px;
  }

  &__resource-field {
    width: 30px;
  }

  &__give-button {
    margin-left: 20px;
  }

  &__game-info {
    margin-left: 100px;
  }

  &__error {
    background-color: red;
    color: white;
  }
}