// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-list {
  font-size: 17px;

  padding: 25px 100px 100px 100px;
  display: flex;

  &__left {
    max-width: 1500px;
  }

  &__played-cards {
    min-width: 200px;
    max-width: 600px;
  }

  &__player {
    display: flex;
    min-width: 200px;
    margin-top: 20px;
  }

  &__players-title {
    margin-bottom: 0;
  }

  &__player-name {
    margin-top: 0;
    margin-bottom: 10px;
    width: 40px;
  }

  &__player-info {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  &__resource-form {
    display: flex;
  }

  &__resource-label {
    width: 70px;
    display: block;
  }

  &__resource {
    margin-top: 5px;
    display: flex;
  }

  &__resource-controls {
    margin-top: 5px;
    margin-left: 30px;
    display: block;
  }

  &__resource-player {
    display: block;
  }

  &__resource-field {
    width: 30px;
  }

  &__give-button {
    margin-top: 5px;
    display: block;
  }  

  &__game-info {
    margin-top: 20px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__game-info-section {
    margin-top: 10px;
    margin-right: 125px;
    min-width: 350px;
  }

  &__error {
    background-color: red;
    color: white;
  }
}

.trading {
  display: flex;

  &__player {
    margin-right: 30px;
  }

  &__resource-form {
    margin-top: 20px;
  }

  &__resource {
    margin-top: 5px;
    display: flex;
  }

  &__resource-label {
    width: 70px;
    display: block;
  }

  &__resource-field {
    width: 30px;
  }

  &__submit {
    height: 50px;
    align-self: center;
  }
}