<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'player-app-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
